<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Message</title>

    <meta charset="UTF-8"/>

    <link media="all" rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>

</head>
<body>

<h1>Welcome to our hospital</h1>
<h2>Patient: <span th:text="${administration.name}">Name</span></h2>
<h2>Symptoms: <span th:text="${administration.symptoms}">Symptom</span></h2>


<br/><br/>
<h3>fill this form please: </h3>

<form method="post" th:action="@{/}" th:object="${administration}">
    <label>Name: </label>
    <input th:field="*{name}" type="name"/>
    <p th:errors="*{name}" th:if="${#fields.hasErrors('name')}">Incorrect input</p>
    <br/>
    <label>Symptom</label>
    <input th:field="*{symptom}" type="symptom"/>
    <p th:errors="*{symptom}" th:if="${#fields.hasErrors('symptom')}">Incorrect input</p>
    <br/>
    <button type="submit">Send form</button>
</form>

</body>
</html>
